<body>

<div class="container my-5 text-center">
  <div class="fancy-font d-flex justify-content-center">
      <h1><%= @room.name %></h1>
  </div>

  <div>

    <div class="card flex-center py-4 mt-3 fancy-font">
      <h5><%= @room.description %></h5>
      <h5><%= @action.join(" ") %></h5>
    </div>


    <ul class="d-flex justify-content-center">   <!-- Items in room -->
      <% @room_data[@room.id].each do |item_id|  %>
          <div class="card">
            <% if !@inventory.include? (item_id) %>
              <%= @items[item_id][:name]  %> <%= link_to "Pickup", pickup_path(id: @room[:id], item_id: item_id), method: :post, class: "btn btn-sm btn-success" %>
            <% else %>
              <br><%= @items[item_id][:name]  %> (max # in inventory)
            <% end %>
              <a tabindex="0" class="badge badge-secondary" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="<%= @items[item_id][:name] %>" data-content="<%= @items[item_id][:description]%>">Info</a>
          </div>
      <% end %>
    </ul>

    <p class="justify-content-center">                                          <!-- Path buttons -->
    <% @paths.each_with_index do |path, index| %>
      <% if path[:require].nil? || (@inventory.include? path[:require])  %>
        <% if !path[:battle_path].nil? && path[:fought] == false %>
          <%= link_to @path_text[index], combat_path(id: path[:combat_path]), class: 'btn btn-sm btn-primary' %>
        <% else %>
          <%= link_to @path_text[index], current_room_path(id:@path[index], action_check: "path"), method: :post, class: 'btn btn-sm btn-primary' %>
        <% end %>
      <% else %>
        <%= link_to path[:text] + " (Locked, requires #{@items[path[:require]].name})", current_room_path(id:path[:main_path]) , class: 'disabled btn btn-sm btn-secondary' %>
      <% end %>
    <% end %>
    </p>


    <ul>                                         <!-- Items in inventory -->
      <% if @paths.length > 0 %>
        <strong>In your inventory you find:</strong>
        <div class="d-flex justify-content-center">
          <% @inventory.each do |item_id| %>
                <p  class="card mx-2"><%= @items[item_id][:name] %>
                  <% if !@room_data[@room.id].include? (item_id) %>
                    <%= link_to "Drop", drop_path(id: @room[:id], item_id: item_id), method: :post, class: "btn btn-sm btn-warning" %>
                  <% else %>
                    <br>
                    (max # in room)
                  <% end %>
                  <a tabindex="0" class="badge badge-secondary" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="<%= @items[item_id][:name] %>" data-content="<%= @items[item_id][:description] %>">Info</a>
                </p>
          <% end %>
        </div>
      <% end %>
    </ul>

  </div>
</div>
</body>

<footer>
  <% if @paths.length > 0 %>                                   <!-- Main menu escape -->
    <div class="row">
      <div class="col col-10"></div>
      <div class="col card text-center">
        <p id="HP">HP: <%= @stats[:HP] %>/<%= @stats[:maxHP] %></p>
        <p id="AP">AP: <%= @stats[:AP] %>/<%= @stats[:maxAP] %></p>
        <p id="luck">Luck: <%= @stats[:luck] %>%</p>
      </div>
    </div>

    <div class="row">
      <div class="col fixed-footer">
        <%= link_to "Main Menu", start_menu_path, class: "btn btn-danger m-1"%>
      </div>
    </div>

  <% else %>
    <p class="text-center">  <%= link_to "Main Menu", game_over_path, method: :post, class: "btn btn-lg btn-danger m-1 "%> </p>
  <% end %>
</footer>
