<body>

<div class="container text-center">

  <div class="">
      <h2><%= @room.name %></h2>
  </div>

  <div>
    <p><%= @room.description %></p>
    <p></p>


    <ul class="d-flex justify-content-center">
      <% @room_items.each do |item_id|  %>
        <%# if session[:inventory][item_id] == false %>
          <div class="card col-2 "><%= @items[item_id][:name] %>
            <%= link_to "Pickup", pickup_path(id: @room[:id],item_id: @items[item_id]), method: :post, class: "btn" %> </div>
        <%# else %>
        <%# end %>
      <% end %>
    </ul>
<%# link_to "Pickup #{key}?", current_room_path, class: "btn btn-primary"%>

    <ul>
      <strong>In your inventory you find:</strong>
      <div class="d-flex justify-content-center">
        <% @inventory.each do |item_id| %>
              <p  class="card col-2"><%= @items[item_id][:name] %> </p>

        <% end %>
      </div>
    </ul>
    <p>

    <div>

    </div>




    <p>
    <% @paths.each_with_index do |path, index| %>
      <% if @chance[index] == true %>
          <%= link_to path[:text] + " #{path[:chance]}% chance (test:pass)", current_room_path(id:path[:main_path]), class: 'btn btn-primary' %>
      <% elsif @chance[index] == false %>
          <%= link_to path[:text] + " #{path[:chance]}% chance (test:fail)", current_room_path(id:path[:chance_path]), class: 'btn btn-primary' %>
      <% elsif @chance[index] = "pass" %>
        <%= link_to path[:text], current_room_path(id:path[:main_path]), class: 'btn btn-primary' %>
      <% end %>

    <% end %>
    </p>

  </div>
</div>
</body>

<footer class="">
  <%= link_to "Main menu", start_menu_path, class: "btn btn-danger m-1"%>
</footer>
