
  <% @rooms.each do |room| %>
    <div>
      <p><%= room.name %></p>
      <p><%= room.description %></p>
      <p><%= room.link1 %></p>
      <p><%= room.link2 %></p>
      <p><%= room.id %></p>
    </div>
    <% end %>
