
  <% @rooms.each do |room| %>
    <table class="table">
      <h4><%= room.name %> <%= room.id %></h4>
      <tr>
        <th>description</th>
        <th>Action Text</th>
        <th>Path</th>
      </tr>
      <tr>
        <td><%= room.description %></td>
        <td>
          <ol>
            <% room.action_text.each do |action| %>
              <li><%= action %> <br></li>
            <% end %>
          </ol>
        </td>
        <td>
          <ol>
            <% room.path.each do |path| %>
              <li><%= path %> <br> </li>
            <% end %>
          </ol>
        </td>
      </tr>
    </table>
    <% end %>
